<div class="container">
  <div class="watermark">Folder</div>
  <div class="shots"></div>
  <div class="content">
    <div class="headline">
      <div id="first">Organize Folders</div>
      <div id="second">In Just</div>
      <div id="third">One Click</div>
    </div>
    <div class="availability">
      <div class="heading">Available On</div>
      <div class="platforms">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </div>
    <div class="actions">
      <button>Install</button>
      <button class="secondary">Privacy Policy</button>
      <button class="secondary">Read Guide</button>
    </div>
  </div>
</div>
