<div class="container">
  <div class="watermark">Folder</div>
  <div class="shots"></div>
  <div class="content">
    <div class="headline">
      <div id="first">Organize Folders</div>
      <div id="second">In Just</div>
      <div id="third">One Click</div>
    </div>
    <div class="availability">
      <div class="heading">Available On</div>
      <div class="platforms">
        <img src="../../../assets/windows.png" alt="Windows" />
        <img src="../../../assets/macos.png" alt="MacOS" />
        <img src="../../../assets/linux.png" alt="Linux" />
      </div>
    </div>
    <div class="actions">
      <button routerLink="download">
        <i class="las la-arrow-down"></i>
        <div class="text">Install</div>
      </button>
      <button class="secondary" routerLink="guide">Read Guide</button>
      <button class="secondary" routerLink="eula">EULA</button>
    </div>
  </div>
</div>
