@import "../../../tools";

.container {
  @include center();
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .logo {
    @include center();
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
    }

    .brand {
      margin-left: 1rem;
      font-size: 1.3rem;
    }
  }

  .routes {
    @include center();

    .route {
      margin-right: 5rem;
      cursor: pointer;

      &:hover {
        color: #eee;
      }
    }
  }
}
