@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "../../../theme";

.container {
  padding-top: 5rem;

  .heading {
    font-family: "Hemi Head";
    text-align: center;
    font-size: 3rem;
  }

  .content {
    margin: 3rem 0;

    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 3px solid $primary;

    * {
      font-family: "Poppins";
      user-select: text;
    }
  }
}
