@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin watermark() {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Hemi Head";
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  opacity: 3%;
}
