@import "./tools";
@import "./theme";

@font-face {
  font-family: "Batman";
  src: url("./assets/batman.woff");
}

@font-face {
  font-family: "Road Rage";
  src: url("./assets/road_rage.woff");
}

@font-face {
  font-family: "Hemi Head";
  src: url("./assets/hemi_head.woff");
}

@font-face {
  font-family: "EA";
  src: url("./assets/ea.woff");
}

* {
  font-family: "Batman";
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  color: $text-color;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $background;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background 0s;
}

.container {
  padding: 0 3%;
}

button {
  @include center();
  border: none;
  padding: 0.8rem 1.8rem;
  background: $primary;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;

  &:disabled {
    border: 3px dashed $highlight;
  }

  i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-family: "Line Awesome Free" !important;
  }

  &.secondary {
    box-sizing: content-box;
    background: $background;
    border: 3px solid $primary;
  }
}

input,
textarea {
  border: 3px solid $primary;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background: $background;
  width: 100%;
}
